<div card_id="{{id}}" id="pr-card-{{id}}" class="pr-card{{#if classes}} {{classes}}{{/if}} pr-guild-{{guild}} col-xs-3 col-sm-3">
    <div class="pr-card-name">
        <strong>{{name}}</strong>
    </div>
    <div class="pr-card-damage">
        Dmg {{damage}}
    </div>
    <div class="pr-card-speed">
        Speed {{speed}}
    </div>
    <div class="pr-card-regen">
        Regen {{regen}}
    </div>
    <div class="pr-card-health">
        Health {{health}} / {{max_health}}
    </div>
</div>